li{
    list-style: none;
    border: 1px solid  rgb(219, 216, 216);
    padding: 10px 58px;

}
ul{
    margin: 0;
    padding: 0;
    background-color: rgb(235, 232, 232);
  
}

.profile {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #fff;
    border: solid 1px;
    background-color: lightgoldenrodyellow;
}



.avatar {
width: 200px;
margin-left: auto;
margin-right: auto;
padding-top: 100px;
display: block;
}

.name {
margin-top: 20px;
width: 200px;
margin-left: auto;
margin-right: auto;
text-align: center;

}

.tag {
    margin-top: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.location {
    margin-top: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.stats {
    width: 500px;
    justify-content: space-around;
    display: flex;
}
